.history-finance {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.history-finance h2 {
  margin-bottom: 20px;
}

.history-finance ul {
  list-style-type: none;
  padding: 0;
  width: 70%;
  background-color: #1a1a1a;
  height: 400px;
  overflow-y: auto;
  border-radius: 20px;
  border: 2px solid #333333;
  scrollbar-width: none;
}
