.form-for-account {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 40px;
}

.form-for-account form {
  display: flex;
}

.form-for-account input,
.form-for-account select,
.form-for-account button {
  border: 2px solid #0df1ac;
  padding: 7px 15px;
  font-size: 14px;
  background-color: #1a1a1a;
  color: #ffffff;
  display: block;
}

#description {
  border-radius: 20px 0 0 20px;
}

#submit {
  border-radius: 0 20px 20px 0;
  background-color: #0df1ac;
  color: #1a1a1a;
  font-weight: bold;
}

.form-for-account-error {
  color: #ff4d4d;
  margin-bottom: 10px;
  font-size: 12px;
  position: absolute;
  top: 0;
}
