* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #151515;
  color: #e6e6e6;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
input {
  border: none;
  outline: none;
  background: none;
  color: inherit;
  font-family: inherit;
}
textarea {
  border: none;
  outline: none;
  background: none;
  color: inherit;
  font-family: inherit;
  resize: none;
}
img {
  display: block;
  max-width: 100%;
}
html,
body,
#root {
  height: 100%;
}
